.image.is-4by3 img {
  height: 250px;
  width: 250px;
}

.title:not(:last-child) {
  margin-top: 75px;
  margin-bottom: 25px;
}

.title:not(.is-spaced) + .subtitle {
  margin-bottom: 8px;
}

.card {
  box-shadow: none;
  margin-bottom: 30px;
}
